html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; }

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7; }

.fullHeight, .projectModalBG, #navContainer, #navbar {
  height: 100%; }

.fullWidth, .clickableLink:before, .projectModalBG {
  width: 100%; }

.image {
  background-size: cover; }

.clickableLink {
  content: "";
  display: block;
  position: relative;
  width: auto;
  padding-right: 0px;
  color: white;
  text-decoration: none;
  cursor: pointer; }
  .clickableLink:before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    bottom: -5%;
    left: 0;
    background-color: #48e59f;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .clickableLink:hover {
    color: white; }
    .clickableLink:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.notClickable {
  color: white; }

h1 {
  margin: 0px;
  padding: 0px;
  font-family: Work Sans, sans-serif;
  font-size: 400%;
  font-weight: 200;
  letter-spacing: 1px; }

h2 {
  margin: 0px;
  padding: 0px;
  font-family: Work Sans, sans-serif;
  font-size: 100%;
  font-weight: 300;
  letter-spacing: 1px; }

h3 {
  margin: 0px;
  padding: 0px;
  font-family: Hind, sans-serif;
  font-size: 90%;
  font-weight: normal;
  letter-spacing: 2px; }

h4 {
  margin: 0px;
  padding: 0px;
  font-family: Hind, sans-serif;
  font-size: 80%;
  font-weight: normal;
  letter-spacing: 1px; }

h5 {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 2px; }

#mainContainer {
  background-color: #f7f7f7;
  z-index: 1;
  overflow: auto; }

#bannerTitlesContainer, #centerBanner {
  background: #f7f7f7; }

#centerBanner {
  height: 200px;
  z-index: 0; }

.bannerElement, #bannerTitle, #bannerSubtitle {
  content: "";
  display: block;
  position: absolute; }

#bannerTitle {
  color: #8AB0AB; }

#bannerSubtitle {
  color: #999999; }

#infoSection {
  background-color: #f7f7f7; }

.aCTitles, .aCTitleBold {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  color: #8AB0AB;
  text-align: right; }

.aCTitleBold {
  font-family: Montserrat, sans-serif;
  font-size: 100%;
  color: #8AB0AB; }

.aCText {
  content: "";
  display: block;
  position: absolute;
  color: #999999;
  text-align: left; }

.filterButton {
  font-family: Work Sans, sans-serif;
  font-size: 60%;
  padding: 2px 5px 2px 5px;
  border-radius: 0px;
  border: 1px solid #48e59f;
  letter-spacing: 1px;
  color: #48e59f;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .filterButton:hover {
    background-color: white; }
  .filterButton.clicked {
    background-color: #48e59f;
    color: #f7f7f7; }

.skillBolded {
  font-weight: bold;
  color: #48e59f;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.projectImage {
  content: "";
  display: block;
  position: relative;
  float: left;
  height: 450px;
  width: 50%; }

.projectPanel {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 450px;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .projectPanel:hover {
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }

.projectTitle {
  content: "";
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200%;
  top: 45%;
  color: white;
  cursor: pointer; }

.projectSubtitle {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  left: 35px;
  color: white;
  font-size: 60%; }

.projectModalBG {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5); }

.projectModal {
  position: fixed;
  width: 600px;
  height: 440px;
  border-radius: 8px;
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.collabSubtitle:after {
  content: "'s Github";
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
.collabSubtitle:hover:after {
  opacity: 1; }

.projectIcon, .linkIcon, .githubIcon {
  position: absolute;
  height: 25px;
  width: 25px;
  cursor: pointer; }

.linkIcon {
  bottom: 30px;
  right: 35px;
  background: url("../images/link-symbol.png") no-repeat;
  background-size: cover; }

.githubIcon {
  left: 35px;
  bottom: 30px;
  background: url("../images/github-logo.png") no-repeat;
  background-size: cover; }

#navContainer {
  background-color: #323232;
  width: 55px;
  float: left; }

#navbar {
  width: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #323232;
  z-index: 2; }

#navIconContainer {
  width: 55px;
  height: 80px;
  background-color: #323232;
  position: fixed;
  top: 50%;
  transform: translateY(-85%);
  cursor: pointer;
  z-index: 3; }

#navMenu {
  width: 300px;
  height: 100%;
  background-color: #323232;
  position: fixed;
  left: -245px;
  top: 0px; }

#navIcon {
  width: 55px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  cursor: pointer; }
  #navIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 40%;
    background: #818181;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    #navIcon span:nth-child(1) {
      top: 0px;
      left: 15px; }
    #navIcon span:nth-child(2), #navIcon span:nth-child(3) {
      top: 8px;
      left: 15px; }
    #navIcon span:nth-child(4) {
      top: 16px;
      left: 15px; }
  #navIcon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  #navIcon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #navIcon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #navIcon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

.menuList {
  text-align: right;
  font-family: Work Sans, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: white; }
  .menuList .links li {
    font-size: 150%;
    margin-top: 20px;
    display: inline-block;
    letter-spacing: 2px; }
  .menuList .social li {
    font-size: 70%;
    margin-top: 10px;
    display: inline-block;
    letter-spacing: 1px; }

/*# sourceMappingURL=base.css.map */
