/////////////
////VARIABLES
/////////////
$montserrat: Montserrat, sans-serif;
$hind: Hind, sans-serif;
$workSans: Work Sans, sans-serif;

$highlightGreen: #48e59f;
$menuGrey: #323232;
$subtitleTeal: #6e8c88;
$backgroundWhite: #f7f7f7;
$textColor: rgba(0,0,0,0.4);
$defaultBlack: rgba(0,0,0,0.65);
$defaultGrey: rgba(0,0,0,0.4);
//#a1bfbb

/////////////
////MIXINS
/////////////
@mixin resetBoxModel(){
	margin: 0px;
	padding: 0px;
}

@mixin fontMontserrat($size: false, $weight: false,  $ls: false) {
    font-family: $montserrat;
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $ls { letter-spacing: $ls; }
}

@mixin fontHind($size: false, $weight: false,  $ls: false) {
    font-family: $hind;
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $ls { letter-spacing: $ls; }
}

@mixin fontWorkSans($size: false, $weight: false,  $ls: false) {
    font-family: $workSans;
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $ls { letter-spacing: $ls; }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin rotation($angle){
	-webkit-transform: rotate($angle);
	-moz-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin easeAnimation($duration){
	-webkit-transition: $duration ease-in-out;
	-moz-transition: $duration ease-in-out;
	-o-transition: $duration ease-in-out;
	transition: $duration ease-in-out;
}

@mixin scaleX($ratio){
	-webkit-transform: scaleX($ratio);
	transform: scaleX($ratio);
}

@mixin position($top: false, $left: false, $bottom: false, $right: false){
	@if $top { top: $top; }
	@if $left { left: $left; }
	@if $bottom { bottom: $bottom; }
	@if $right { right: $right; }
}

@mixin centered($vertical: false, $horizontal: false, $both: false){
	@if $vertical{
		top: 50%;
		transform: translateY(-50%); 
	}
	@if $horizontal{
		left: 50%;
		transform: translateX(-50%); 
	}
	@if $both{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}
}

/////////////
////HTML/BODY
/////////////
html{
	padding: 0px;
	margin: 0px;
  	height:100%;
  	width: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	height:100%;
	width: 100%;
	background-color: $backgroundWhite;
}


/////////////
////GENERAL CLASSES
/////////////
.fullHeight{
	height: 100%;
}

.fullWidth{
	width: 100%;
}

.image{
	background-size: cover;
}

.clickableLink {
	@include pseudo($pos: relative);
	width: auto;
	padding-right: 0px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	&:before {
		@include pseudo();
		@extend .fullWidth;
		height: 2px;
		bottom: -5%;
		left: 0;
		background-color: $highlightGreen;
		visibility: hidden;
		@include scaleX(0);
		@include easeAnimation(0.3s)
	}
    &:hover {
        &:before {
        	visibility: visible;
        	@include scaleX(1);
        }
    }
}

.notClickable{
  color: white;
}

/////////////
////HEADINGS
/////////////
h1{
	@include resetBoxModel();
	@include fontWorkSans(400%, 300, 1px);
}

h2{
	@include resetBoxModel();
	@include fontWorkSans(100%, 300, 1px);
}

h3{
	@include resetBoxModel();
	@include fontHind(100%, normal, 2px);
}

h4{
	@include resetBoxModel();
	@include fontHind(100%, normal, 1px);
}

h5{
	@include resetBoxModel();
	@include fontMontserrat(200%, 400, 2px);
}

/////////////
////MAIN PAGE
/////////////

#mainContainer{
	background-color: $backgroundWhite;
	z-index: 1;
  	overflow: auto;
}

#bannerTitlesContainer{
	background: $backgroundWhite;
}

#centerBanner{
	@extend #bannerTitlesContainer;
	height: 200px;
	z-index: 0;
}

.bannerElement{
  	@include pseudo();
}

#bannerTitle{
	@extend .bannerElement;
	color: $defaultBlack;
}

#bannerSubtitle{
	@extend .bannerElement;
	color:  $defaultGrey;
}

#infoSection{
	background-color: $backgroundWhite;
}

.aCTitles{
	@include pseudo();
	width: 200px;
	height: 50px;
	color: $defaultBlack;
	text-align: right;
}

.aCTitleBold{
	@extend .aCTitles;
	@include fontMontserrat(100%, false, false);
  	color: $highlightGreen;
}

.aCText{
	@include pseudo();
	color: $defaultGrey;
	text-align: left;
}

.aCSub{
	color: $defaultGrey;
}

.filterButton{
	font-family: $workSans;
	font-size: 60%;
	padding: 2px 5px 2px 5px;
	border-radius: 0px;
	border: 1px solid #48e59f;
	letter-spacing: 1px;
	color: $highlightGreen;
	cursor: pointer;
	@include easeAnimation(0.2s);
	&:hover{
		background-color: white;
	}
	&.clicked{
		background-color: $highlightGreen;
		color: #f7f7f7;
	}

}

.skillBolded{
	color: $highlightGreen;
	@include easeAnimation(0.2s);
}

/////////////
////PROJECT PANELS AND MODALS
/////////////

.projectImage{
	@include pseudo($pos: relative);
	float: left;
	height: 450px;
	width: 50%;
}

.projectPanel{
	position: absolute;
	@include position(0px, 0px);
	height: 450px;
	width: 100%;
	border-radius: 2px;
	text-align: center;
	opacity: 0;
	@include easeAnimation(0.3s);
	&:hover{
		opacity: 1;
		@include easeAnimation(0.2s)
	}
}

.projectTitle{
	@include pseudo($display: inline-block, $pos: relative);
	@include resetBoxModel();
	@include centered($vertical: true);
	font-size: 200%;
	top: 45%;
	color: white;
	cursor: pointer;
}

.projectSubtitle{
	@include pseudo();
	@include position(25px, 35px);
	color: white;
	font-size: 60%;
}

.projectModalBG{
	position: fixed;
	@include position(0px, 0px);
	@extend .fullWidth;
	@extend .fullHeight;
	background-color: rgba(0,0,0,0.5);
}

.projectModal{
	position: fixed;
  	width: 585px;
  	height: 425px;
  	border-radius: 3px;
  	background-color: $backgroundWhite;
  	padding: 25px 0px 25px 0px;
  	text-align: center;
	@include centered($both: true);
}

.collabSubtitle{
	&:after{
		content: "'s Github";
		opacity: 0;
		@include easeAnimation(0.5s);
	}
	&:hover{
		&:after{
			opacity: 1;
		}
	}
}

.projectIcon{
	position: absolute;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.linkIcon{
	@extend .projectIcon;
	@include position($bottom: 30px, $right: 35px);
	background: url("../images/link-symbol.png") no-repeat;
	background-size: cover;

}

.githubIcon{
	@extend .projectIcon;
	@include position($bottom: 30px, $left: 35px);
  	background: url("../images/github-logo.png") no-repeat;
  	background-size: cover;
}

/////////////
////NAVIGATION
/////////////
#navContainer{
	@extend .fullHeight;
	background-color: $menuGrey;
	width: 55px;
  	float: left;
}

#navbar{
	@extend .fullHeight;
	width: 55px;
	position: fixed;
	@include position(0px, 0px);
	background-color: $menuGrey;
	z-index: 3;
}

#navIconContainer{
	width: 55px;
	height: 80px;
	background-color: $menuGrey;
	position: fixed;
  	top: 50%;
  	transform: translateY(-85%);
  	cursor: pointer;
  	z-index: 3;
}

#navMenu{
	width: 300px;
	height: 100%;
	background-color: $menuGrey;
	position: fixed;
	left: -245px;
	top: 0px;
	z-index: 2;
}

#navModal{
	position: fixed;
	@include position(0px, 0px);
	@extend .fullWidth;
	@extend .fullHeight;
	background-color: rgba(0,0,0,0.5);
	z-index: 0;
}

#navIcon{
  width: 55px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  cursor: pointer;
  span{
	display: block;
	position: absolute;
	height: 2px;
	width: 40%;
	background: #818181;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	@include rotation(0deg);
	@include easeAnimation(0.25s);
	&:nth-child(1){
		top: 0px;
		left: 15px;
	}
	&:nth-child(2) , &:nth-child(3){
		top: 8px;
		left: 15px;
	}
	&:nth-child(4){
		top: 16px;
		left: 15px;
	}
  }
  &.open{
  	span{
  		&:nth-child(1){
			top: 18px;
			width: 0%;
			left: 50%;
  		}
  		&:nth-child(2){
  			@include rotation(45deg);
  		}
  		&:nth-child(3){
  			@include rotation(-45deg);
  		}
  		&:nth-child(4){
			top: 18px;
			width: 0%;
			left: 50%;
  		}
  	}
  }
}

.menuList{
	text-align: right;
	@include fontWorkSans(false, 200, 1px);
	color: white;
	.links{
		li{
			font-size: 150%;
			margin-top: 20px;
			//float: right;
			display: inline-block;
			letter-spacing: 2px;
		}
	}
	.social{
		li{
			font-size: 85%;
			margin-top: 10px;
			//float: right;
			display: inline-block;
			letter-spacing: 1px;
		}
	}
}


