/////////////
////VARIABLES
/////////////
$montserrat: Montserrat, sans-serif;
$hind: Hind, sans-serif;
$workSans: Work Sans, sans-serif;

$highlightGreen: #48e59f;
$menuGrey: #323232;
$subtitleTeal: #8AB0AB;
$backgroundWhite: #f7f7f7;


/////////////
////MIXINS
/////////////
@mixin resetBoxModel(){
	margin: 0px;
	padding: 0px;
}

@mixin fontMontserrat($size: false, $weight: false,  $ls: false) {
    font-family: $montserrat;
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $ls { letter-spacing: $ls; }
}

@mixin fontHind($size: false, $weight: false,  $ls: false) {
    font-family: $hind;
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $ls { letter-spacing: $ls; }
}

@mixin fontWorkSans($size: false, $weight: false,  $ls: false) {
    font-family: $workSans;
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $ls { letter-spacing: $ls; }
}

@mixin rotation($angle){
	-webkit-transform: rotate($angle);
	-moz-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin easeAnimation($duration){
	-webkit-transition: $duration ease-in-out;
	-moz-transition: $duration ease-in-out;
	-o-transition: $duration ease-in-out;
	transition: $duration ease-in-out;
}

@mixin scaleX($ratio){
	-webkit-transform: scaleX($ratio);
	transform: scaleX($ratio);
}

@mixin position($top: false, $left: false, $bottom: false, $right: false){
	@if $top { top: $top; }
	@if $left { left: $left; }
	@if $bottom { bottom: $bottom; }
	@if $right { right: $right; }
}

/////////////
////HTML/BODY
/////////////
html{
	padding: 0px;
	margin: 0px;
  	height:100%;
  	width: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	height:100%;
	width: 100%;
	background-color: $backgroundWhite;
	overflow-x: hidden;
  	overflow-y: scroll;
}


/////////////
////GENERAL CLASSES
/////////////
.fullHeight{
	height: 100%;
}

.fullWidth{
	width: 100%;
}

.verticallyCenter{
	position: absolute;
	top: 50%;
	transform: translateY(-50%); 
}

.horizontallyCenter{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.image{
	background-size: cover;
}

.clickableLink {
	width: auto;
	padding-right: 0px;
	position: relative;
	color: white;
	text-decoration: none;
	cursor: pointer;
	&:before {
		@extend .fullWidth;
		height: 2px;
		content: "";
		position: absolute;
		bottom: -5%;
		left: 0;
		background-color: $highlightGreen;
		visibility: hidden;
		@include scaleX(0);
		@include easeAnimation(0.3s)
	}
    &:hover {
        color: white;
        &:before {
        	visibility: visible;
        	@include scaleX(1);
        }
    }
}

.notClickable{
  color: white;
}

/////////////
////HEADINGS
/////////////
h1{
	@include resetBoxModel();
	@include fontMontserrat(400%, normal, 2px);
}

h2{
	@include resetBoxModel();
	@include fontWorkSans(100%, 300, 1px);
}

h3{
	@include resetBoxModel();
	@include fontHind(90%, normal, 2px);
}

h4{
	@include resetBoxModel();
	@include fontHind(80%, normal, 1px);
}

h5{
	@include resetBoxModel();
	@include fontMontserrat(200%, 400, 2px);
}

/////////////
////MAIN PAGE
/////////////

#mainContainer{
	background-color: $backgroundWhite;
	z-index: 1;
  	overflow: auto;
}

#bannerTitlesContainer{
	background: $backgroundWhite;
}

#centerBanner{
	@extend #bannerTitlesContainer;
	height: 200px;
	z-index: 0;
}

.bannerElement{
  position: absolute;
}

.aCTitles{
  width: 200px;
  height: 50px;
  position: absolute;
  color: $subtitleTeal;
  text-align: right;
}

.aCTitleBold{
  top: 0px;
  @include fontMontserrat(100%, false, false);
}

.aCText{
  width: auto;
  position: absolute;
  text-align: left;
}

/////////////
////PROJECT PANELS AND MODALS
/////////////

.projectPanel{
  opacity: 0;
  @include easeAnimation(0.3s);
  &:hover{
  	opacity: 1;
  	@include easeAnimation(0.2s)
  }
}

.projectModalBG{
	position: absolute;
	@include position(0px, 0px);
	@extend .fullWidth;
	@extend .fullHeight;
	background-color: rgba(0,0,0,0.5);
}

.projectModal{
	position: absolute;
	//@extend .horizontallyCenter;
	//@extend .verticallyCenter;
  	width: 600px;
  	height: 440px;
  	border-radius: 8px;
  	background-color: $backgroundWhite;
  	padding: 30px 0px 30px 0px;
  	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

.collabSubtitle{
	&:after{
		content: "'s Github";
		opacity: 0;
		@include easeAnimation(0.5s);
	}
	&:hover{
		&:after{
			opacity: 1;
		}
	}
}

.linkIcon{
	//@extend .image;
	background: url("../images/link-symbol.png") no-repeat;
	background-size: cover;
}

.githubIcon{
	//@extend .image;
  	background: url("../images/github-logo.png") no-repeat;
  	background-size: cover;
}

/////////////
////NAVIGATION
/////////////
#navContainer{
	@extend .fullHeight;
	width: 80px;
  	float: left;
}

#navbar{
	@extend .fullHeight;
	width: 80px;
	position: fixed;
	@include position(0px, 0px);
	background-color: $menuGrey;
	z-index: 2;
}

#navHamburgerContainer{
	width: 80px;
	height: 80px;
	background-color: #323232;
	position: relative;
  	top: 50%;
  	transform: translateY(-85%);
  	cursor: pointer;
  	z-index: 1;
}


#navIcon{
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  cursor: pointer;
  @include rotation(0deg);
  @include easeAnimation(0.5s);
  span{
	display: block;
	position: absolute;
	height: 3px;
	width: 60%;
	background: #818181;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	&:nth-child(1){
		top: 0px;
		left: 12px;
	}
	&:nth-child(2) , &:nth-child(3){
		top: 12px;
		left: 12px;
	}
	&:nth-child(4){
		top: 24px;
		left: 12px;
	}
  }
  .open{
  	span{
  		&:nth-child(1){
			top: 18px;
			width: 0%;
			left: 50%;
  		}
  		&:nth-child(2){
  			@include rotation(45deg);
  		}
  		&:nth-child(3){
  			@include rotation(-45deg);
  		}
  		&:nth-child(4){
			top: 18px;
			width: 0%;
			left: 50%;
  		}
  	}
  }
}

.menuList{
	text-align: right;
	margin: 0 30px 30px 0;
	@include fontWorkSans(false, 200, 1px);
	color: white;
	.links{
		font-size: 180%;
		margin: 30px 30px 30px 0;
		li{
			float: right;
			display: inline-block;
		}
	}
	.social{
		font-size: 80%;
		margin: 10px 0 0 0;
		li{
			float: right;
			display: inline-block;
			letter-spacing: 2px;
		}
	}
}


