$fontTitle: Hind, sans-serif;
$fontSubtitle: Work Sans, sans-serif

$highlightGreen: #48e59f;
$menuGrey: #323232;
$subtitleTeal: #8AB0AB;
$backgroundWhite: #f7f7f7;

@mixin rotation($angle){
	-webkit-transform: rotate($angle);
	-moz-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin easeAnimation($duration){
	-webkit-transition: $duration ease-in-out;
	-moz-transition: $duration ease-in-out;
	-o-transition: $duration ease-in-out;
	transition: $duration ease-in-out;
}

@mixin scaleX($ratio){
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

html{
	padding: 0px;
	margin: 0px;
	min-height:100%;
	position:relative;

	body{
		min-height: 100%;
	}
}

#mainContainer{
	background-color: $backgroundWhite;
	z-index: 1;
  	overflow: scroll;
}

#workPanel1{
	background: url("../images/cherrypicker-mockup.jpg") no-repeat;
	background-size: cover;
}

#workPanel2{
	background: url("../images/friendmap-mockup.jpg") no-repeat;
	background-size: cover;
}


.menuList{
	margin: 0 30px 30px 0;
	font-family: $fontSubtitle
	font-weight: 200;
	letter-spacing: 1px;
	color: white;

	.links{
		font-size: 180%;
		margin: 30px 0 0 0;

		li{
			float: right;
			display: inline-block;
		}
	}
	.social{
		font-size: 80%;
		margin: 10px 0 0 0;

		li{
			float: right;
			display: inline-block;
		}
	}
}

.clickableLink {
	width: auto;
	padding-right: 0px;
	position: relative;
	color: white;
	text-decoration: none;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -5%;
		left: 0;
		background-color: $highlightGreen;
		visibility: hidden;
		@include scaleX(0);
		@include easeAnimation(0.3s)
	}
	
    &:hover {
        color: white;

        &:before {
        	visibility: visible;
        	@include scaleX(1);
        }
    }
}



